<h1> Users </h1>

<ul>
    <% @users.each do |user| %>
        <li>
            <%= render user %>
        </li>
    <% end %>
</ul>

<%
=begin%>
  <%= render partial: 'user', locals: { user: user } %>
  <%  %> - doar ruleaza cod de ruby
  <%= %> - afiseaza codul de ruby
<%
=end%>
